
body{
	background: #f9f9f9;
	font-size: 12pt;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;

}

.wrapper{
	width: 1020px;
	margin: auto;
	background: #ffffff;
	border: 1px solid #e7e7e7;
	padding: 55px 45px 55px 45px;
	font
}


.logo{
	padding-bottom: 15px;
}

.top ul{
	background: linear-gradient(to top, #5e5e5e, #464545);
	font-size: 0px;
	line-height: 0px;
	letter-spacing: -1px;
	width: 1010px;
}
.top li{
	display: inline-block;
	cursor: pointer;
	padding: 11px 50px 12px 25px;
	
    color: white;
    background: linear-gradient(to top, #5e5e5e, #464545);
    font-size: 15px;
    line-height: normal;
    letter-spacing: normal;
    vertical-align: baseline;
}


.top li:hover{
	background: linear-gradient(to top, #494949, #2f2f2f);
	border-left: 1px solid white;
	border-right: 1px solid white;
	padding: 11px 49px 12px 24px;

	}

.top li:nth-child(2) {
	padding: 11px 25px 12px 25px;
	
} 

.top li:nth-child(2):hover {
	padding: 11px 24px 12px 24px;
	
} 

.top a {
	color: white;
	text-decoration: none;
	
}

.sidebar{
	margin-top: 20px;
	float: left;
	width: 240px;

		letter-spacing: -1px;

}

.sidebar li{

border-top: 1px solid #e7e7e7;
border-left: 1px solid #e7e7e7;
border-right: 1px solid #e7e7e7;
color: #7a7878;
padding: 13px 0px 13px 25px;
/*height: 30px;
line-height: 30px;*/
font-size: 14px;

}
.sidebar li:last-child {
	border-bottom: 1px solid #e7e7e7;
}

.sidebar li:hover{
	background: #f9f9f9;
	padding-left: 40px;
	width: 198px;
}

.sidebar a{
	text-decoration: none;
	color: grey;
}

.image{
border: 2px solid #e7e7e7;
float: right;
margin-top: 20px;
margin-right: 10px;
}
	
p{
	clear: right;
	width: 630px;
	margin-left: 350px;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 13px;

}

.footer	ul{

	font-size: 0px;
	line-height: 0px;
	letter-spacing: -1px;
	width: 1010px;
	background: #e1e1e1;
	margin-bottom: 40px;

}

.footer li{
	display: inline-block;
	cursor: pointer;
	padding: 11px 50px 12px 25px;
    color: black;
    background: #e1e1e1;
    font-size: 14.67px;
    line-height: normal;
    letter-spacing: normal;
    
}

.footer li:last-child{
	float: right;
}

.footer a {
	text-decoration: none;
	color: black;

}

.footer a:hover {
	text-decoration: underline;
}
.active-top {
	background: linear-gradient(to top, #494949, #2f2f2f);
	border-left: 1px solid white;
	border-right: 1px solid white;
	padding: 11px 49px 12px 24px;
}

.active-sidebar {
	background: #f9f9f9;
	padding-left: 141450px;
}

.active-footer {
	text-decoration: underline;
}